@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Импорт завершен";
    bool ok = Equals(ViewBag.Error, string.Empty);
}

<div style="background: @(ok?"green":"red"); text-align: center; padding: 6px">
    @if (ok)
    {
        <p>Успех</p>
    }
    else
    {
    <p>В строке №@ViewBag.ErrorLineNum </p>
    <p>@ViewBag.ErrorLine</p>
    <p>Возникла ошибка: @ViewBag.Error</p>
    }
    @Html.ActionLink("На главную", "Index")
</div>